body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
#gallery {
  width: 1200px;

  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}
li {
  flex-basis: calc((100% / 3) - 30px);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 30px;
}
img {
  width: 100%;
}
div.add {
  height: 30px;
  width: 30px;
  background-color: rgb(23, 23, 23);
}
#controls {
  padding-left: 30px;
}
#boxes {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
